*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.title,
.recipe-list {
  text-align: center;
}

.title {
  padding: 20px 0;
}

.recipe-list {
  list-style: none;
}
li {
  padding: 5px;
}

.container {
  margin: 0 auto;
  background-color: #d1d1d1;
  height: 400px;
  width: 400px;
  padding: 50px;
}

.recipe-links {
  display: inline-block;
  background-color: #f3f3f3;
  border: 2px solid #a3a3a3;
  width: 170px;
  padding: 16px 0;
}

/* Spaghetti */
.recipe-image {
  display: block;
  margin: 0 auto;
}

.simple-nav {
  background-color: #d1d1d1;
  text-align: center;
}

.description-section {
  margin: 20px auto;
  width: 500px;
}

.sub-title {
  margin: 16px;
}

.sub-list {
  margin: 0 30px;
}
